alpaca-py==0.38.0
yfinance==0.2.54
streamlit==1.30.0
pandas==2.1.4
numpy==1.26.2
matplotlib==3.8.2
pandas_ta==0.3.14b0
scipy==1.11.3
streamlit-autorefresh==1.0.0
transformers==4.49.0
requests==2.32.3
